<!DOCTYPE html>
<html>
<head>
    <title>Wellbeing Assessment Form</title>
    <style>
        body {
            background-color: #fbfbf0;
        }
        form {
            max-width: 700px;
            margin: auto;
            padding: 30px;
            border: 2px solid #555;
            border-radius: 12px;
            background-color: #eae8f7;
            font-size: 18px;
        }

        button {
            background-color: #4a90e2;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #357abd;
        }
        label {
            display: inline-block;
            width: 300px;
        }
        a
        {
            position: absolute;
        }
    </style>
</head>

<body>
    <a href="/"><button>Back to Home</button></a>
    <center>
        <h1>Assessment Form</h1>
    </center>

    <form action="/predict" method="post">

        <h3>1. Personal Information:</h3>

        <!-- Age -->
        <label>Enter your age:</label>
        <input type="number" name="Age" required>
        <br><br>

        <!-- Gender -->
        <label>Gender:</label>
        <input type="radio" name="Gender" value="Male" required> Male
        <input type="radio" name="Gender" value="Female"> Female
        <input type="radio" name="Gender" value="Other"> Other
        <br><br>

        <!-- Country -->
        <label>Country of residence:</label>
        <select name="Country" required>
            <option value="">--Select--</option>
            <option>United States</option>
            <option>United Kingdom</option>
            <option>Canada</option>
            <option>Germany</option>
            <option>Ireland</option>
            <option>Australia</option>
            <option>Netherlands</option>
            <option>Other</option>
        </select>
        <br><br>

        <!-- Self Employed -->
        <label>Are you self-employed?</label>
        <input type="radio" name="self_employed" value="Yes" required> Yes
        <input type="radio" name="self_employed" value="No"> No
        <input type="radio" name="self_employed" value="Unknown"> Prefer not to say
        <br><br>

        <!-- Family History -->
        <label>Family history of wellbeing challenges?</label>
        <input type="radio" name="family_history" value="Yes" required> Yes
        <input type="radio" name="family_history" value="No"> No
        <br><br>

        <hr><br>


        <h3>2. Workplace Environment & Support:</h3>

        <!-- Company Size -->
        <label>Company size:</label>
        <select name="no_employees" required>
            <option value="">--Select--</option>
            <option>1-5</option>
            <option>6-25</option>
            <option>26-100</option>
            <option>100-500</option>
            <option>500-1000</option>
            <option>More than 1000</option>
        </select>
        <br><br>

        <!-- Remote Work -->
        <label>Do you work remotely?</label>
        <input type="radio" name="remote_work" value="Yes" required> Yes
        <input type="radio" name="remote_work" value="No"> No
        <br><br>

        <!-- Benefits -->
        <label>Does your workplace offer wellbeing benefits?</label>
        <input type="radio" name="benefits" value="Yes" required> Yes
        <input type="radio" name="benefits" value="No"> No
        <input type="radio" name="benefits" value="Unknown"> Not sure
        <br><br>

        <!-- Care Options -->
        <label>Are you aware of support options at work?</label>
        <input type="radio" name="care_options" value="Yes" required> Yes
        <input type="radio" name="care_options" value="No"> No
        <input type="radio" name="care_options" value="Unknown"> Not sure
        <br><br>

        <!-- Wellness Programs -->
        <label>Does your workplace offer wellness programs?</label>
        <input type="radio" name="wellness_program" value="Yes" required> Yes
        <input type="radio" name="wellness_program" value="No"> No
        <input type="radio" name="wellness_program" value="Unknown"> Not sure
        <br><br>

        <!-- Anonymity -->
        <label>Does your employer maintain privacy when seeking support?</label>
        <input type="radio" name="anonymity" value="Yes" required> Yes
        <input type="radio" name="anonymity" value="No"> No
        <input type="radio" name="anonymity" value="Unknown"> Not sure
        <br><br>
        
        <!-- WORK INTERFERE -->
        <label>How often do personal challenges affect your work?</label>
        <select name="work_interfere" required>
            <option value="">-- Select --</option>
            <option value="Never">Never</option>
            <option value="Rarely">Rarely</option>
            <option value="Sometimes">Sometimes</option>
            <option value="Often">Often</option>
            <option value="Unknown">Prefer not to say</option>
        </select>
        <br><br>

        <!-- Leave -->
        <label>How easy is it to take leave for personal matters?</label>
        <select name="leave" required>
            <option value="">--Select--</option>
            <option>Very easy</option>
            <option>Somewhat easy</option>
            <option>Unknown</option>
            <option>Somewhat difficult</option>
            <option>Very difficult</option>
        </select>
        <br><br>

        <hr><br>


        <h3>3. Communication & Social Comfort:</h3>

        <!-- Coworkers -->
        <label>Comfort discussing challenges with coworkers:</label>
        <input type="radio" name="coworkers" value="Yes" required> Yes
        <input type="radio" name="coworkers" value="No"> No
        <input type="radio" name="coworkers" value="Some of them"> Only certain coworkers
        <br><br>

        <!-- Supervisor -->
        <label>Comfort discussing challenges with supervisors:</label>
        <input type="radio" name="supervisor" value="Yes" required> Yes
        <input type="radio" name="supervisor" value="No"> No
        <input type="radio" name="supervisor" value="Some of them"> Only certain supervisors
        <br><br>

        <center>
            <button type="submit">Get Insights</button>
        </center>

    </form>

    <br>
    
    
</body>
</html>
